<div id="<%= dom_id post %>">
  <h1 class="display-1">
    <%= post.title %>
  </h1>

  <p class="lead">
    <%= post.content %>
  </p>

    <%= image_tag(post.pict.url, alt: 'Image', class: 'img-fluid') if post.pict? %>

</div>
